{% extends "fair_lottery/views/templates/base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>后台管理</h1>
  </div>

  <div class="row-fluid">
    <div class="span8">
      <h1>任务进行情况:</h1>
      {%if process %}
      <p>running</p>
      <p><a class="btn btn-primary" href="{{servlet-context}}/admin/action/stop-job">stop</a></p>
      {% else %}
      <p> stoped </p>
      <p><a class="btn btn-primary" href="{{servlet-context}}/admin/action/start-job">start</a></p>
      {% endif %}
    </div>
  </div>
{% endblock %}
